@charset "UTF-8";

/* SPACELAKE CDN Provided
 * Fonts CDN for Bootstrap
 * CSS Made by SPACELAKE (spacelake.net)
 * Copyright 2021. SPACELAKE all rights reserved.
 */


/* 폰트 CDN (스페이스레이크) */

@import url(https://cdn.netor.cloud/icons/bootstrap/bootstrap.icons.css);
/* 부트스트랩 아이콘 */

@import url(https://cdn.netor.cloud/fonts/NanumSquareRound/nanumsquareround.css);
/* 나눔스퀘어라운드 */

@import url(https://cdn.netor.cloud/fonts/NanumBarunGothic/nanumbarungothic.css);
/* 나눔바른고딕 */

@import url(https://cdn.netor.cloud/fonts/NanumSquare/nanumsquare.css);
/* 나눔스퀘어 */

@import url(https://cdn.netor.cloud/fonts/NanumGothic/nanumgothic.css);
/* 나눔고딕 */

@import url(https://cdn.netor.cloud/fonts/NanumMyeongjo/nanummyeongjo.css);
/* 나눔명조 */

@import url(https://cdn.netor.cloud/fonts/NanumBarunPen/nanumbarunpen.css);
/* 나눔바른펜 */

@import url(https://cdn.netor.cloud/fonts/DoHyeon/dohyeon.css);
/* 배달의민족 도현 */

@import url(https://cdn.netor.cloud/fonts/JuA/jua.css);
/* 배달의민족 주아 */

@import url(https://cdn.netor.cloud/fonts/MaruBuri/maruburi.css);
/* 마루부리 */

@import url(https://cdn.netor.cloud/fonts/YSpotlight/YSpotlight.css);
/* Y 너만을 비춤체 */

@import url(https://cdn.netor.cloud/fonts/IBMPlexSansKR/IBMPlexSansKR.css);
/* IBM Plex Sans KR */

@import url(https://cdn.netor.cloud/fonts/GmarketSans/gmarketsans.css);
/* G마켓 산스 */

@import url(https://cdn.netor.cloud/fonts/SpoqaHanSans/SpoqaHanSans.css);
/* 스포카 한 산스 */

/* 폰트 적용 */

.nanumsquare {
    font-family: 'NanumSquare' !important;
}

.spoqahansans {
    font-family: 'Spoqa Han Sans Neo' !important;
}

.nanumsquareround {
    font-family: "NanumSquareRound" !important;
}

.nanummyeongjo {
    font-family: 'NanumMyeongjo' !important;
}

.nanumgothic {
    font-family: 'NanumGothic' !important;
}

.bmdohyeon {
    font-family: 'DoHyeon' !important;
}

.nanumbarungothic {
    font-family: 'NanumBarunGothic' !important;
}

.bmjua {
    font-family: 'JuA' !important;
}

.nanumbarunpen {
    font-family: 'NanumBarunPen' !important;
}

.maruburi {
    font-family: 'MaruBuri' !important;
}

.yspotlight {
    font-family: 'YSpotlight' !important;
}

.plexsanskr {
    font-family: 'IBMPlexSansKR' !important;
}

.gmarketsans {
	font-family: 'GmarketSans'!important;
}

/* 폰트 두께 */

.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}