@charset "UTF-8";

@font-face {
    font-family: 'JuA';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('./webfonts/JuA.woff2') format('woff2'), 
        url('./webfonts/JuA.woff') format('woff'),
        url('./webfonts/JuA.ttf') format('truetype'),
        url('./webfonts/JuA.otf') format('opentype'),
        url('./webfonts/JuA.eot') format('embedded-opentype');
        font-display: swap;
}
